@model DoAnCuoiKi_NET.Models.Account

@{
    ViewBag.Title = "Chi tiết Tài Khoản";
    Layout = "~/Areas/admin/Views/Shared/_MyLayout.cshtml";
}

<div class="card-header py-3">
    <h4 class="m-0 font-weight-bold text-center" style="color: #1a53bd">Chi tiết Tài Khoản: @Model.username</h4>
</div>

<div class="card shadow mb-4 border-bottom-primary border-left-primary">
    <dl class="card-body py-3">
        <div class="row" style="border: 1px solid #ccc; padding: 10px;">
            <div class="col-md-6">
                <dt style="margin-bottom: 10px; margin-top: 15px">
                    Tên tài khoản:
                    @if (Model.username != null)
                    {
                        <span style="color: #ff006e">@Html.DisplayFor(model => model.username) </span>
                    }
                    else
                    {
                        <span style="color: #ff006e">Unknown</span>
                    }
                </dt>

                <dt style="margin-bottom:10px">
                    Mật khẩu:
                    @if (Model.password != null)
                    {
                        <span style="color: #ff006e">@Html.DisplayFor(model => model.password) </span>
                    }
                    else
                    {
                        <span style="color: #ff006e">Unknown</span>
                    }
                </dt>
                <dt style="margin-bottom:10px">
                    Họ:
                    @if (Model.location != null)
                    {
                        <span style="color: #ff006e">@Html.DisplayFor(model => model.lastname) </span>
                    }
                    else
                    {
                        <span style="color: #ff006e">Unknown</span>
                    }
                </dt>
                <dt style="margin-bottom:10px">
                    Tên:
                    @if (Model.location != null)
                    {
                        <span style="color: #ff006e">@Html.DisplayFor(model => model.firstname) </span>
                    }
                    else
                    {
                        <span style="color: #ff006e">Unknown</span>
                    }
                </dt>
            </div>
            <div class="col-md-6">

                <dt style="margin-bottom:10px;margin-top: 15px ">
                    Số điện thoại:
                    @if (Model.phone != null)
                    {
                        <span style="color: #ff006e">@Html.DisplayFor(model => model.phone) </span>
                    }
                    else
                    {
                        <span style="color: #ff006e">Unknown</span>
                    }
                </dt>

                <dt style="margin-bottom:10px">
                    Email:
                    @if (Model.email != null)
                    {
                        <span style="color: #ff006e">@Html.DisplayFor(model => model.email) </span>
                    }
                    else
                    {
                        <span style="color: #ff006e">Unknown</span>
                    }
                </dt>

                <dt style="margin-bottom:10px">
                    Địa chỉ:
                    @if (Model.location != null)
                    {
                        <span style="color: #ff006e">@Html.DisplayFor(model => model.location) </span>
                    }
                    else
                    {
                        <span style="color: #ff006e">Unknown</span>
                    }
                </dt>

                <dt>
                    Ngày tạo:
                    @if (Model.datebegin != null)
                    {
                        <span style="color: #ff006e">@Html.DisplayFor(model => model.datebegin) </span>
                    }
                    else
                    {
                        <span style="color: #ff006e">Unknown</span>
                    }
                </dt>
            </div>
        </div>

</dl>
</div>
<div class="d-flex">
    <a href="@Url.Action("Edit", "accounts", new { id = Model.id_account })" class="btn btn-warning btn-icon-split mr-4">
        <span class="icon text-white-50">
            <i class="fas fa-edit"></i>
        </span>
        <span class="text">Sửa</span>
    </a>

    <a href="@Url.Action("Delete", "accounts", new { id = Model.id_account })" class="btn btn-danger btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-trash"></i>
        </span>
        <span class="text">Xóa</span>
    </a>
</div>

<div class="text-center">
    <a href="@Url.Action("Index", "accounts")" class="btn btn-secondary btn-icon-split">
        <span class="icon text-white-50">
            <i class="fa fa-reply-all"></i>
        </span>
        <span class="text">Về trang quản lý</span>
    </a>
</div>
